@{
    ViewData["Title"] = "Pocetna strana";
    Layout = null;
    var user = await UserManager.GetUserAsync(User);
    var userName = user != null ? $"{user.ime} {user.prezime}" : "";

}

@using Optika_Lentium.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
<!DOCTYPE html>
<html>
<head>
    <title>Optika Lentium</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <style>
        .username {
            font-size: 19px;
            font-weight: bold;
            color: #8B4513;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="/images/logo1-removebg-preview.png">
            </div>
            <ul>
                <li class="btn"><a href="#">Početna</a></li>
                <li class="dropdown">
                    <a href="#" class="btn">Meni</a>
                    <div class="dropdown-content">
                        <a class="btn" asp-area="" asp-controller="Proizvod" asp-action="MeniView" asp-route-tip="@Tip.Okviri">Dioptrijski okviri</a>
                        <a class="btn" asp-area="" asp-controller="Proizvod" asp-action="MeniView" asp-route-tip="@Tip.Naocale">Sunčane naočale</a>
                        <a class="btn" asp-area="" asp-controller="Proizvod" asp-action="MeniView" asp-route-tip="@Tip.Lece">Leće i otopine</a>
                        <a class="btn" asp-area="" asp-controller="Proizvod" asp-action="MeniView" asp-route-tip="@Tip.Asesoari">Asesoari</a>
                        <a class="btn" asp-area="" asp-controller="ZakazivanjePregleda" asp-action="Index">Zakaži pregled</a>
                    </div>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <span class="username">
                            Zdravo, @userName!
                        </span>
                        <a class="btn" asp-area="Identity" asp-page="/Account/Logout">Log out</a>
                    </li>
                }
                else
                {
                    <li><a class="btn" asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>
                    <li><a class="btn" asp-area="Identity" asp-page="/Account/Login">Log in</a></li>
                }
            </ul>
        </div>
        <div class="title">
            <h1 align="center">
                <font>
                    Optika Lentium
                </font>
            </h1>
        </div>
        <div class="button">
            <a class="btn" asp-area="" asp-controller="Home" asp-action="LokacijaView">Saznajte najbližu lokaciju</a>
            <a class="btn" asp-area="" asp-controller="Home" asp-action="KontaktView">Kontaktirajte nas</a>
        </div>
    </header>
</body>
</html>
