@{
    ViewData["Title"] = "Pocetna strana";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Optika Lentium</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="/images/logo1-removebg-preview.png">
            </div>
            <ul>
                <li class="btn"><a href="#">Početna</a></li>
                <li class="dropdown">
                    <a href="#" class="btn">Meni</a>
                    <div class="dropdown-content">
                        <a class="btn" asp-area="" asp-page="/Diptrija">Dioptrijski okviri</a>
                        <a class="btn" asp-area="" asp-page="/Placanje">Sunčane naočale</a>
                        <a class="btn">Leće i otopine</a>
                        <a class="btn">Asesoari</a>
                        <a class="btn" asp-area="" asp-page="/Zakazipregled">Zakaži pregled</a>
                    </div>
                </li>
                <li><a class="btn" asp-area="" asp-page="/signup">Sign up</a></li>
                <li><a class="btn" asp-area="" asp-page="/login">Log in</a></li>
            </ul>
        </div>
        <div class="title">
            <h1 align="center">
                <font>
                    Optika Lentium
                </font>
            </h1>
        </div>
        <div class="button">
            <a class="btn" asp-area="" asp-page="/Saznajvise">Saznajte najbližu lokaciju</a>
            <a class="btn" asp-area="" asp-view="/KontaktView">Kontaktirajte nas</a>
        </div>
    </header>
</body>
</html>

