
@{
    ViewData["Title"] = "Zakazite pregled";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pregled.css">
    <title>Zakazite pregled</title>
</head>
<body>

    <center><h2>Zakazivanje pregleda</h2></center>
    <div>
        <div>
            <div class="container">

                <form action="submit_phpcrm_form.php" method="post">



                    <div>
                        <div>
                            <br>
                            <label for="name"></label>
                            <input type="text" id="fname" name="name" placeholder="Ime i prezime" required>


                            <label for="email"></label>
                            <input type="text" id="email" name="email" placeholder="Email" required>


                            <label for="phone"></label>
                            <input type="number" id="phone" name="phone" placeholder="Broj telefona" required>



                            
                        </div>
                        <div>

                            <label><b>Kako Vas možemo kontaktirati?</b></label><br>
                            <input type="radio" id=" Telefonski poziv" name="radio" value="Telefonski poziv" style="margin-left:13px;">&nbspTelefonski poziv<label for="Telefonski poziv"></label><br>
                            <input type="radio" id="Email" name="radio" value="Email" style="margin-left:13px;">&nbspEmail<label for="Email"></label><br><br>
                            <label><b>Odaberite dan pregleda:</b></label><br>
                            <input type="checkbox" id="day1" name="day1" value="Ponedjeljak">
                            <label for="day1">Ponedjeljak</label><br>
                            <input type="checkbox" id="day2" name="day2" value="Tuesday">
                            <label for="day2">Utorak</label><br>
                            <input type="checkbox" id="day3" name="day3" value="Wednesday">
                            <label for="day3">Srijeda</label><br>
                            <input type="checkbox" id="day4" name="day4" value="Thursday">
                            <label for="day4">Četvrtak</label><br>
                            <input type="checkbox" id="day5" name="day5" value="Friday">
                            <label for="day5">Petak</label><br><br>
                            <label><b>Odaberite vrijeme pregleda:</b></label><br>
                            <input type="checkbox" id="shift1" name="shift1" value="Morning">
                            <label for="shift1">Jutro</label><br>
                            <input type="checkbox" id="shift2" name="shift2" value="Evening">
                            <label for="shift2">Podne</label><br>
                        </div>
                        <input type="submit" value="Pošaljite zahtjev" class="btn">
                </form>
            </div>
        </div>

</body>
</html>