@{
	ViewData["Title"] = "Kontakt";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Kontakt</title>
	<link rel="stylesheet" type="text/css" href="css/stylem.css">
	<meta name="viewport" content="width=device=width, initial-scale=1">
</head>
<body>
	<header>
		<div class="main">

			<div class="contact-section">
				<h1>Kontaktirajte nas</h1>
				<div class="border"></div>
				<form class="contact-form" action="kontakt.html" method="post">
					<input type="text" class="contact-form-text" placeholder="Vaše ime">
					<input type="email" class="contact-form-text" placeholder="Vaš email">
					<input type="text" class="contact-form-text" placeholder="Vaš telefon">
					<textarea class="contact-form-text" placeholder="Vaša poruka"></textarea>
					<input type="submit" class="contact-form-btn" value="Send">
				</form>
			</div>
		</div>
	</header>
</body>
</html>
